.user-profil {
  position: fixed;
  top: 0;
  left: 0;

  button {
    padding: 0.8vh 2vh;
    border: 0.2vh solid #000000;
    border-radius: 5vh;
    background: #ffffff;
    color: #000000;
    font-size: 2vh;
    transition-duration: 0.3s;
  }
  button:hover {
    background: #000000;
    color: #ffffff;
  }

  h3 {
    font-size: 4vh;
    font-weight: bold;
  }

  h4 {
    padding: 0 0 1vh 0;
    font-size: 3vh;
    font-weight: bold;
    font-style: italic;
  }

  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  &__card {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    margin: 0 auto;
    width: 95vw;
    height: 95vh;
    box-shadow: rgba(17, 12, 46, 0.35) 0px 48px 100px 0px;
    background: white;
    border-radius: 5vh;
    padding: 2vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    z-index: 2;
    animation: slideUp 0.8s both;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
      background-image: url(../../assets/images/png/full_logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      min-height: 12vh;
      min-width: 12vw;
      margin-bottom: 5vh;
    }

    &_title {
      font-size: 5vh;
      margin-bottom: 4vh;
      font-weight: bold;
    }
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    color: #3a3a3a;
  }

  &__personal-data,
  &__addres-data {
    flex: 0 1 50%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  &__email-box,
  &__data-title-box,
  &__change-password,
  &__first-name-box,
  &__last-name-box,
  &__birthday-box {
    display: flex;
    justify-content: space-between;
  }

  &__change-password {
    justify-content: flex-end;
  }

  &__first-name-box,
  &__last-name-box,
  &__birthday-box {
    border-bottom: 1px solid #000000;
  }

  &__email-box {
    p {
      font-weight: bold;
    }
  }

  &__data-title-box {
    margin: 5vh 0 2vh 0;
  }

  &__addres-data {
    &_content {
      padding: 2vh 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &_info-box {
      flex: 0 1 48%;
      display: flex;
      flex-direction: column;
      gap: 2vh;

      p {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        border-bottom: 1px dashed #000000;
      }
      span {
        font-weight: normal;
      }
    }

    &_button-box {
      display: flex;
      gap: 2vh;
    }
  }

  &__button-back > button {
    margin: 0 3vh;
    padding: 0.8vh 10vh;
  }
}

@media (max-width: 1010px) {
  .user-profil {
    &__card {
      min-width: 490px;
      height: auto;
    }
    &__personal-data,
    &__addres-data {
      flex: 0 1 100%;
    }
  }
}
