.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 2vh;
  // width: 25vh;
  // height: 25vh;
  padding: 15px;
  cursor: pointer;
  transition: all ease 0.2s;
  &:hover {
    border: 1px solid #000;
  }
}

.button__more_info {
  padding: 5px;
  border-radius: 5px;
  transition: all ease 0.2s;

  &:hover {
    background-color: rgb(99, 98, 98);
  }
}
