.productContent__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cardcontent__block {
  margin-top: 100px;
}

.slider_block {
  display: flex;
  justify-content: center;
  gap: 2vh;
}

.image_item {
  &:hover {
    border: 1px solid #000;
  }
}

.item_big {
  height: 400px;
  width: fit-content;
}

.item_small {
  height: 100px;
  width: fit-content;
}

.product_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.product_name {
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
}

.product_price {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  font-size: 3rem;
}

.product_description {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  color: gray;
  font-size: 2rem;
}

.slider_controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}

.control {
  width: 20px;
  height: 20px;
  background: url(../../assets/images/loginPage/arrow.svg) center no-repeat;
}
.control_prev {
  transform: rotate(90deg);
}

.control_next {
  transform: rotate(-90deg);
}

@media (max-width: 800px) {
  .item_big {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .productContent__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .product_images {
    flex-direction: row;
    justify-content: center;
  }

  .slider_block {
    flex-direction: column;
  }

  .slider_controls {
    flex-direction: row;
    justify-content: center;
  }

  .control_prev {
    transform: rotate(0deg);
  }

  .control_next {
    transform: rotate(180deg);
  }
}
